.default-select {
    height: 40px;
    margin: 5px 5px 0 0;
    background-color: #ffff;
    border-radius: 50px;
    border: 2px solid black;
    color: black;
}

.default-select:hover {
    color: #ffff;
    background-color: black;
}
