.nav-menu {
  position: relative;
  display: flex;
  justify-content: end;
  transform: translateY(3px);
  padding-left: 5px;
  .nav-buttons-container {
    position: relative;
    display: flex;
    left: 0;
    min-width: 25vw;
    margin-bottom: 2px;
  }
  button {
    margin-right: 5px;
  }
}

.button_active {
  color: white;
  background-color: black;
  box-shadow: 0px 0px 5px 1px white;
}
